<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../../Public/localStorage/css/main.css" />
    <title>Local Storage</title>
  </head>
  <body>
    <div class="parent">
      <input id="the-input" type="text" placeholder="Local Storage Item" />
      <div class="buttons">
        <span class="check-item">Check Item</span>
        <span class="add-item">Add Item</span>
        <span class="delete-item">Delete Item</span>
        <span class="show-item">Show Item</span>
        <span class="show-items">Show Items</span>
      </div>
      <div class="results">
        <span>
          Results Here
          <span></span>
        </span>
      </div>
    </div>

    <script src="../../Public/localStorage/js/main.js"></script>
  </body>
</html>
