<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="../../Public/todoApp/css/main.css">
  <title>ToDo App </title>
</head>

<body>


  <div class="todo-container">
    <div class="add-task">
      <input type="text">
      <span class="plus">+</span>
    </div>
    <div class="task-content">
      
      <div class="control">
        <div class="finshed-all">
          <span>Finshed All</span>
        </div>

        <div class="deleted-all">
          <span>Deleted All</span>
        </div>
      </div>

      <span class="no-task-message">No Tasks To Show</span>
      <!-- <span class="task-box">
        Task One
        <span class="delete">Delete</span>
      </span>

      <span class="task-box">
        Task Two
        <span class="delete">Delete</span>
      </span> -->
    </div>
  </div>

  <div class="task-stats">
    <div class="task-count">
      Tasks <span> 0 </span>
    </div>

    <div class="task-completed">
      completed <span> 0 </span>
    </div>
  </div>


  <script src="../../Public/todoApp/js/main.js"></script>
  <script src="../../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>