<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="../../Public/slider/css/main.css">
  <title>Slider</title>
</head>

<body>

  <div class="slider-contanier">
    <div class="slider-number"></div>
    <img src="../../Public/images/R (1).jpeg" alt="">
    <img src="../../Public/images/R.jpeg" alt="">
    <img src="../../Public/images/OIP.jpeg" alt="">
    <img src="../../Public/images/R (2).jpeg" alt="">
  </div>

  <div class="slider-controls">
    <span id="prev" class="prev ">Previous</span>
    <span id="pagination" class="paginations">
    </span>
    <span id="next" class="next">Next</span>
  </div>

  <script src="../../Public/slider/js/main.js"></script>
</body>

</html>