<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="../../Public/quizApp/css/main.css">
  <title>Quiz App</title>
</head>

<body>

  <div class="container-caregories">

    <div class="header">
      <h1 class="heding-page">Categories</h1>
      <p class="paragraph">Choose a category to view the questions</p>
    </div>

    <div class="show-categories">
    </div>
  </div>

  <div class="quiz-app">
    <div class="quiz-info">
      <div class="category"></div>
      <div class="count"></div>
    </div>

    <div class="quiz-area"> </div>

    <div class="answers-area"></div>
    <button class="submit-button">Submit Answer</button>
    <div class="bullets">
      <div class="spans"></div>
      <div class="coundown"></div>
    </div>
    <!-- <div class="results">
      <div class="prefect"><span class="Excellence">Excellence</span> You Answered 10 From 10</div>
    </div> -->
  </div>

  <audio id="success" src="../../Public/audio/success1.mp3" preload="auto"></audio>
  <audio id="fail" src="../../Public/audio/fail.mp3" preload="auto"></audio>
  <script src="../../Public/quizApp/js/main.js"></script>
</body>

</html>