<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="../../Public/fetch_gethub_repos/css/main.css"
    />
    <title>Fetch Repositories</title>
  </head>
  <body>
    <div class="repos-container">
      <div class="get-repos">
        <input type="text" placeholder="Github Username" />
        <span class="get-button">Get Repos</span>
      </div>

      <div class="show-repos">No Data To Show</div>
    </div>

    <script src="../../Public/fetch_gethub_repos/js/main.js"></script>
  </body>
</html>
